[Unit]
Description=CS61A Discussion grading worker %i
After=network.target docker.service redis.service
Requires=docker.service

[Service]
Type=simple
User=cs61a
Group=docker
WorkingDirectory=/opt/cs61a-discussion
EnvironmentFile=/opt/cs61a-discussion/.env
Environment=FLASK_APP=server.app
ExecStart=/opt/cs61a-discussion/server/.venv/bin/flask grading-worker
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
