[Unit]
Description=Run the CS61A grader container reaper every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=cs61a-grader-reaper.service

[Install]
WantedBy=timers.target
